{% extends "base.html" %}

{% block content %}
    <h1>Hi, Curious Visitor!</h1>
    <p>First things first, you probably noticed that my last name is unpronounceable.</p>
    <p>That's no typo, it's just a sign that I'm Polish through and through"</p>
    <p>I live in Brooklyn and am proud to be from the borough that can boast more delis per street than any other place.</p>
    <p>I'm currently a rising senior at Stuyvesant High School and am looking to make the most of my last year here.</p>
    <p> I have a younger sister who competes in national dance competitions, and I also own the cutest dog in the world</p>
    <p>Last fact? I'm excited to be part of the Wellness Committee this year!</p>
{% endblock %}
