{% extends "base.html" %}

{% block content %}
    <h1>Hi, Nosy Person :P!</h1>
    <p>I love playing football with my favorite team, the Peglegs! They gave me my first family at Stuy and that's something I'll never forget</p>
    <p>I'm also proud to be our SU division 5 executive delegate and to be on the Indicator and Spectator</p>
    <p>Of course, helping out as part of Arista is fun too and so is getting to meet the most adorable students at stuy as a Big Sib</p>
    <p>And getting to build the sets to our Sing shows is something I always look forward to</p>
    <p>Outside of Stuy, I love working at day care centers and the hospital, and then playing Halo or reading comic books to unwind</p>
{% endblock %}
